.posts {
font-family: Arial, Helvetica, sans-serif;
 font-size: 30px;
 letter-spacing: 2px;
 word-spacing: 2px;
 color: #000000;
 font-weight: 700;
 text-decoration: none;
 font-style: normal;
 font-variant: normal;
 text-transform: none;
 text-align: center;
color: rgb(19, 19, 19);
/* background: rgb(231, 229, 228); */
letter-spacing: 0.15em;
text-shadow: rgb(118, 118, 118) 1px -1px 0px, rgb(115, 114, 114) -1px 2px 1px, rgb(118, 116, 116) -2px 4px 1px, rgb(120, 119, 119) -3px 6px 1px, rgb(123, 122, 122) -4px 8px 1px, rgb(127, 125, 125) -5px 10px 1px, rgb(130, 129, 129) -6px 12px 1px, rgb(134, 133, 133) -7px 14px 1px, rgb(139, 138, 137) -8px 16px 1px, rgb(143, 142, 141) -9px 18px 1px, rgb(148, 147, 146) -10px 20px 1px, rgb(153, 152, 151) -11px 22px 1px, rgb(158, 156, 156) -12px 24px 1px, rgb(163, 161, 161) -13px 26px 1px, rgb(168, 166, 166) -14px 28px 1px, rgb(173, 171, 171) -15px 30px 1px, rgb(178, 177, 176) -16px 32px 1px, rgb(183, 182, 181) -17px 34px 1px, rgb(188, 187, 186) -18px 36px 1px, rgb(193, 191, 191) -19px 38px 1px, rgb(198, 196, 196) -20px 40px 1px, rgb(203, 201, 200) -21px 42px 1px, rgb(207, 205, 205) -22px 44px 1px, rgb(212, 210, 209) -23px 46px 1px, rgb(216, 214, 213) -24px 48px 1px, rgb(219, 218, 217) -25px 50px 1px, rgb(223, 221, 220) -26px 52px 1px, rgb(226, 224, 223) -27px 54px 1px, rgb(228, 227, 226) -28px 56px 1px;
--darkreader-inline-color:#e1dfdb;
--darkreader-inline-bgimage: initial;
--darkreader-inline-bgcolor:#202223;
}

.footertext {
  font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   letter-spacing: 2px;
   word-spacing: 2px;
   color: #000000;
   font-weight: 700;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: none;
   text-align: center;
color: rgb(255, 255, 255);
text-shadow: rgb(0, 230, 230) -5px 5px 0px, rgb(1, 204, 204) -10px 10px 0px, rgb(0, 189, 189) -15px 15px 0px;
--darkreader-inline-color:#ffffff;
--darkreader-inline-bgimage: initial;
--darkreader-inline-bgcolor:#004acc;
}


.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap:50px;
    justify-items: auto;
    text-align: center;
    align-items: auto;
    -webkit-box-shadow: rgb(75, 0, 130) 7px -5px 10px 0px, rgb(0, 0, 255) 11px -9px 10px 0px, rgb(0, 255, 0) 16px -14px 10px 0px, rgb(255, 255, 0) 20px -17px 10px 0px, rgb(255, 127, 0) 24px -19px 10px 0px, rgb(255, 0, 0) 27px -23px 10px 0px, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: rgb(75, 0, 130) 7px -5px 10px 0px, rgb(0, 0, 255) 11px -9px 10px 0px, rgb(0, 255, 0) 16px -14px 10px 0px, rgb(255, 255, 0) 20px -17px 10px 0px, rgb(255, 127, 0) 24px -19px 10px 0px, rgb(255, 0, 0) 27px -23px 10px 0px, 5px 5px 15px 5px rgba(0,0,0,0);
    background: #A41F78;
opacity:0.7;
 }

.blogtext {
   font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
   color: rgb(188, 46, 30);
   text-shadow: rgb(55, 138, 180) 0px 1px 0px, rgb(93, 171, 205) 1px 0px 0px, rgb(55, 138, 180) 1px 2px 1px, rgb(93, 171, 205) 2px 1px 1px, rgb(55, 138, 180) 2px 3px 2px, rgb(93, 171, 205) 3px 2px 2px, rgb(55, 138, 180) 3px 4px 2px, rgb(93, 171, 205) 4px 3px 3px, rgb(55, 138, 180) 4px 5px 3px, rgb(93, 171, 205) 5px 4px 2px, rgb(55, 138, 180) 5px 6px 2px, rgb(93, 171, 205) 6px 5px 2px, rgb(55, 138, 180) 6px 7px 1px, rgb(93, 171, 205) 7px 6px 1px, rgb(55, 138, 180) 7px 8px 0px, rgb(93, 171, 205) 8px 7px 0px;
   --darkreader-inline-color:#e8796d;
   --darkreader-inline-bgimage: initial;
   --darkreader-inline-bgcolor:#5d4f11;
}
